[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
mypy = "*"

[packages]
flask = "*"
jsonschema = "*"
pymongo = "*"
flask-restful = "*"
requests = "*"
mongomock = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
